body {
    background-image: url(bedroom-images/SleepyBackground.png);
}
#floor-wrapper {
    background-image: url(bedroom-images/GoobertFloor.webp);
    min-height: 100dvh;
    
}
img {
    image-rendering: pixelated;
    color-interpolation-filters: sRGB;
}
