body, #main {
    overflow: hidden;
}
.apple {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
}
.snake {
    position: absolute;
    background-color: green;
    width: 50px;
    height: 50px;
}
#main {
    max-width: 100%;
}